body,
p {
  margin: 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  background: rgba(0,0,0,.7);
  backdrop-filter: saturate(180%) blur(10px);
  left: 0;
  right: 0;
  display: flex;
  padding: 20px;
  z-index: 10;
  position: fixed;
}

.navbar-title {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.navbar-menu > button {
  border: none;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
}

.navbar-contact-us {
  border: none;
  background: #00DFA2;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
  padding: 10px 20px;
  color: white;
  font-weight: 600;
}

.header-container {
  background-image: url("/06122013024.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-1 {
  color: rgba(0,0,0,.8);
  font-family: "Poppins",Sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1em;
  text-align: center;
}

.sub-header-1 {
  text-align: center;
  margin-top: 10px;
}

.row-gallery {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.row-gallery img {
  margin: 0px 10px;
}

/* start divider */

.shapedividers_com-2341{
  overflow:hidden;
  position:relative;
  }
  .shapedividers_com-2341::before{ 
  content:'';
  font-family:'shape divider from ShapeDividers.com';
  position: absolute;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat;
  bottom: -0.1vw;
  left: -0.1vw;
  right: -0.1vw;
  top: -0.1vw; 
  background-size: 100% 90px;
  background-position: 50% 100%;  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -0.1 35.28 2.17" preserveAspectRatio="none"><path d="M35.28.31c-2.57.84-7.68.3-11.8.43-4.1.12-6.85.61-9.57.28C11.18.69 8.3-.16 5.3.02 2.3.22.57.85 0 .87v1.2h35.28z" fill="%23ffffff"/></svg>'); 
  }
  
  @media (min-width:2100px){
  .shapedividers_com-2341::before{
  background-size: 100% calc(2vw + 90px);
  }
  }

  /* end divider */